<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59126147801-ekb4vj15lkho83oquhkdu46p0tp5n2bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59126147801-ekb4vj15lkho83oquhkdu46p0tp5n2bq</string>
	<key>API_KEY</key>
	<string>AIzaSyDEL_3NmyQkMA7HmFxu4lRmdxi80aqFhLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>59126147801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoApp</string>
	<key>PROJECT_ID</key>
	<string>auth-7d272</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-7d272.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59126147801:ios:1103ac951fd6ea6e892cc8</string>
</dict>
</plist>